{# Single activity Gantt chart #}

<div class="gantt" id="gawain-activity-gantt-chart-container"></div>

<script type="text/javascript">

    var g = new JSGantt.GanttChart(document.getElementById('gawain-activity-gantt-chart-container'), 'day');

    g.setScrollTo('today');
    g.setFormatArr('{{ I18N.common__day }}',
            '{{ I18N.common__week }}',
            '{{ I18N.common__month }}',
            '{{ I18N.common__quarter }}'
    );

    JSGantt.parseXMLString('{{ gantt_data|raw }}', g);

    g.Draw();


    // This snippet fixes the missing auto refresh when changing tab
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        g.Draw();
    });

</script>
