{# Single activity details #}


<div class="row">

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ activity_fields.activityDescription.label }}</h3>
            </div>
            <div class="panel-body">
                {{ activity_data.activityDescription }}
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-info-circle fa-fw"></i> {{ I18N.activities__general_info }}
                </h3>
            </div>

            <div class="panel-body">

                <dl class="dl-horizontal">
                    {% if activity_data.activityCode is not null %}
                        <dt>{{ activity_fields.activityCode.label }}</dt>
                        <dd>{{ activity_data.activityCode }}</dd>
                    {% endif %}

                    {% if activity_data.activityAreaID is not null %}
                        <dt>{{ activity_fields.activityAreaID.label }}</dt>
                        <dd>{{ activity_data.activityAreaID }}</dd>
                    {% endif %}

                    {% if activity_data.activityEnvironmentID is not null %}
                        <dt>{{ activity_fields.activityEnvironmentID.label }}</dt>
                        <dd>{{ activity_data.activityEnvironmentID }}</dd>
                    {% endif %}

                    {% if activity_data.activityManagerNick is not null %}
                        <dt>{{ activity_fields.activityManagerNick.label }}</dt>
                        <dd>{{ activity_data.activityManagerNick }}</dd>
                    {% endif %}

                    {% if activity_data.activityCustomerReference is not null %}
                        <dt>{{ activity_fields.activityCustomerReference.label }}</dt>
                        <dd>{{ activity_data.activityCustomerReference }}</dd>
                    {% endif %}
                </dl>

            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-calendar fa-fw"></i> {{ I18N.activities__status_and_deadlines }}
                </h3>
            </div>

            <div class="panel-body">

                <dl class="dl-horizontal">
                    {% if activity_data.activityStartDate is not null %}
                        <dt>{{ activity_fields.activityStartDate.label }}</dt>
                        <dd>{{ activity_data.activityStartDate|date('d/m/Y') }}</dd>
                    {% endif %}

                    {% if activity_data.activityStatusID is not null %}
                        <dt>{{ activity_fields.activityStatusID.label }}</dt>
                        <dd>{{ activity_data.activityStatusID }}</dd>
                    {% endif %}


                    {% if activity_data.activityEstimatedEffortHours is not null %}
                        <dt>{{ activity_fields.activityEstimatedEffortHours.label }}</dt>
                        <dd>{{ activity_data.activityEstimatedEffortHours }} h
                            {% if activity_data.activityIsEstimatedEffortHoursAuto == 1 %}
                                <span class="label label-default"
                                      title="{{ I18N.activities__effort_auto_calc_upon_children }}">Auto</span>
                            {% endif %}
                        </dd>
                    {% endif %}


                    {% if activity_data.activityCompletion is not null %}
                        <dt>{{ activity_fields.activityCompletion.label }}</dt>
                        <dd>{{ activity_data.activityCompletion }}%
                            {% if activity_data.activityIsCompletionAuto == 1 %}
                                <span class="label label-default"
                                      title="{{ I18N.activities__completion_auto_calc_upon_timeslots }}">Auto</span>
                            {% endif %}
                        </dd>
                    {% endif %}
                </dl>

            </div>
        </div>
    </div>

</div>
