{# Template for activities, tabular view #}


<ul class="nav nav-tabs gawain-nav-level-2" role="tablist">
    {% for typeID,activity_type in activity_types %}
        <li{% if loop.first %} class="active"{% endif %}>
            <a data-toggle="tab" href="#gawain-activities-tab-{{ typeID }}">{{ activity_type.name }}</a>
        </li>
    {% endfor %}
</ul>



<div class="tab-content">
    {% for typeID,activity_type in activity_types %}

        <div role="tabpanel" class="tab-pane {% if loop.first %} active{% endif %}" id="gawain-activities-tab-{{ typeID }}">
            <div class="row">
                <div class="col-md-12 table-responsive">

                    <table class="table gawain-treegrid">
                        <thead>
                        <tr>
                            <th>{{ activities_fields.activityID.label }}</th>
                            <th>{{ activities_fields.activityName.label }}</th>
                            <th>{{ activities_fields.activityCode.label }}</th>
                            <th>{{ activities_fields.activityManagerNick.label }}</th>
                            <th>{{ activities_fields.activityCustomerReference.label }}</th>
                            <th>{{ activities_fields.activityStatusID.label }}</th>
                            <th>{{ activities_fields.activityCompletion.label }}</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for ID,activity in activities_data %}

                            {%  if activity.activityTypeID == activity_type.name %}

                                <tr id="gawain-activity-{{ ID }}" class="treegrid-{{ ID }} {% if activity.activityParentID is not null %} treegrid-parent-{{ activity.activityParentID }} {% endif %}">
                                    <td><a href="{{ urlFor('activity_show', {activityID: ID}) }}">{{ ID }}</a></td>
                                    <td>{{ activity.activityName }}</td>
                                    <td>{{ activity.activityCode }}</td>
                                    <td>{{ activity.activityManagerNick }}</td>
                                    <td>{{ activity.activityCustomerReference }}</td>
                                    <td>{{ activity.activityStatusID }}</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ activity.activityCompletion|round }}"
                                                 aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;  width: {{ activity.activityCompletion|round }}%;">
                                                {{ activity.activityCompletion|round }}%
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            {%  endif %}

                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    {% endfor %}

</div>