{% extends 'page_base.twig' %}


{% block page_header %}
    <h1 class="page-header">{{ module_item_label }} #{{ activity_ID }} <small>{{ activity_data.activityName }}</small></h1>
{% endblock %}


{% block dependencies %}

    {% for css_entry in page_dependencies.css if css_entry is not null%}
        <link href="{{ css_entry }}" rel="stylesheet" type="text/css">
    {% endfor %}


    {% for js_entry in page_dependencies.js %}
        <script src="{{ js_entry }}"></script>
    {% endfor %}

{% endblock %}


{% block page_content %}

    <ul class="nav nav-pills gawain-nav-level-1">
        <li role="presentation" class="active"><a href="#gawain-activity-details" role="tab" data-toggle="tab">Details</a></li>
        <li role="presentation"><a href="#gawain-activity-gantt-chart" role="tab" data-toggle="tab">Gantt Chart</a></li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="gawain-activity-details">
            <div class="row">
                <div class="col-md-12">

                    {% include 'activity_details.twig' %}

                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="gawain-activity-gantt-chart">
            <div class="row">
                <div class="col-md-12">



                </div>
            </div>
        </div>

    </div>


{% endblock %}