{% extends 'page_base.twig' %}


{% block page_title %}
    {{ module_item_label }} #{{ activity_ID }}
{% endblock %}


{% block dependencies %}

    {% for css_entry in page_dependencies.css if css_entry is not null%}
        <link href="{{ css_entry }}" rel="stylesheet" type="text/css">
    {% endfor %}


    {% for js_entry in page_dependencies.js %}
        <script src="{{ js_entry }}"></script>
    {% endfor %}

{% endblock %}


{% block page_content %}

    <h2>{{ activity_data.activityName }}</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 col-md-3 control-label">{{ activity_fields['activityTypeID'].label }}</label>
            <div class="col-sm-10 col-md-9">
                <p class="form-control-static">{{ activity_data['activityTypeID'] }}</p>
            </div>
        </div>
    </form>

{% endblock %}