{% extends 'page_base.twig' %}


{% block page_title %}
    {{ module_item_label }} #{{ activity_ID }} - {{ activity_data.activityName }}
{% endblock %}


{% block page_header_title %}
    {{ module_item_label }} #{{ activity_ID }}
    <small>{{ activity_data.activityName }}</small>
{% endblock %}




{% block page_header_tags %}

    <span class="label label-info">
        {{ activity_data.activityTypeID }}
    </span>

    {% if activity_data.activityIsCompleted == 1 %}
        <span class="label label-success">
            Completed
        </span>
    {% endif %}

    {% if activity_data.activityIsOfficial == 0 %}
        <span class="label label-warning">
            Internal
        </span>
    {% endif %}

{% endblock %}



{% block page_header_menu %}

    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default" href="{{ urlFor('activity_edit', {activityID: activity_ID}) }}"><i
                    class="fa fa-pencil fa-fw"></i> Edit</a>
        <a role="button" class="btn btn-default" href="{{ urlFor('activity_new') }}?cloneFrom={{ activity_ID }}"><i
                    class="fa fa-clone fa-fw"></i> Clone</a>
        <button
                type="submit"
                class="btn btn-danger"
                form="gawain-activity-delete"
                onclick="return confirm('Are you sure to delete this record? This operation cannot be reverted')">
            <i class="fa fa-trash-o fa-fw"></i> Delete
        </button>
    </div>

    <form class="hidden" id="gawain-activity-delete" method="post" action="{{ urlFor('activity_delete') }}">
        <input type="hidden" name="activityID" value="{{ activity_ID }}">
    </form>

{% endblock %}



{% block dependencies %}

    {% for css_entry in page_dependencies.css if css_entry is not null %}
        <link href="{{ css_entry }}" rel="stylesheet" type="text/css">
    {% endfor %}


    {% for js_entry in page_dependencies.js %}
        <script src="{{ js_entry }}"></script>
    {% endfor %}

{% endblock %}


{% block page_content %}

    <ul class="nav nav-pills gawain-nav-level-1">
        <li role="presentation" class="active"><a href="#gawain-activity-details" role="tab"
                                                  data-toggle="tab">Dashboard</a></li>
        <li role="presentation"><a href="#gawain-activity-gantt-chart" role="tab" data-toggle="tab">Gantt Chart</a></li>
        <li role="presentation"><a href="#gawain-activity-posts" role="tab" data-toggle="tab">Posts</a></li>
        <li role="presentation"><a href="#gawain-resources-timeslots" role="tab" data-toggle="tab">Resources and
                Timeslots</a></li>
    </ul>

    <hr>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="gawain-activity-details">
            <div class="row">
                <div class="col-md-12">

                    {% include 'activity_details.twig' %}

                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="gawain-activity-gantt-chart">
            <div class="row">
                <div class="col-md-12">

                    {% include 'activity_gantt.twig' %}

                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="gawain-activity-posts">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="gawain-resources-timeslots">
            <div class="row">
                <div class="col-md-12">


                </div>
            </div>
        </div>

    </div>


{% endblock %}