{# Template for timeslots, tabular view #}



<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>{{ timeslots_fields.timeslotReferenceDate.label }}</th>
        <th>Activity Name</th>
        <th>Task Name</th>
        <th>{{ timeslots_fields.timeslotDuration.label }}</th>
        <th>{{ timeslots_fields.timeslotDescription.label }}</th>
    </tr>
    </thead>

    {% for timeslot_group_date,timeslot_data in current_user_timeslots %}

        <tbody>

        {% for ID,timeslot in timeslot_data %}

            <tr id="gawain-timeslot-{{ ID }}">
                {% if loop.first %}<td rowspan="{{ timeslot_data|length }}" style="vertical-align: middle">{{ timeslot_group_date|date('d/m/Y') }}</td>{% endif %}
                <td>{{ timeslot.activityName }}</td>
                <td>{{ timeslot.taskName }}</td>
                <td>{{ timeslot.timeslotDuration }}</td>
                <td>{{ timeslot.timeslotDescription }}</td>
            </tr>

        {% endfor %}

        </tbody>

    {% endfor %}
</table>