{# Template for displaying timeslots summary in graph #}

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div id="gawain-user-timeslots-graph-by-activities"></div>
    </div>
</div>

<script>

    function drawChart() {

        $('#gawain-user-timeslots-graph-by-activities').highcharts({
            chart: {
                type: 'pie',
                borderWidth: 0
            },

            title: {
                text: '{{ I18N.timeslots__grouped_by_activity }}'
            },

            subtitle: {
                text: '{{ I18N.graphs__click_on_slices_for_details }}'
            },

            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}: {point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
            },

            series: [{
                name: 'Timeslots',
                colorByPoint: true,
                data: [
                    {% for activity_name,timeslot_data in activity_grouped_timeslots %}
                    {
                        name: "{{ activity_name }}",
                        y: {{ timeslot_data.total }},
                        drilldown: "{{ activity_name }}_drilldown"
                    } {% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            }],

            drilldown: {
                series: [
                    {% for activity_name,timeslot_data in activity_grouped_timeslots %}
                    {
                        name: "{{ activity_name }}",
                        id: "{{ activity_name }}_drilldown",
                        data: [
                            {% for task_name,task_timeslot in timeslot_data.details %}
                            [{% if task_name != '' %}"{{ task_name }}"{% else %}"{{ I18N.common__empty }}"{% endif %}, {{ task_timeslot }}] {% if not loop.last %},{% endif %}
                            {% endfor %}
                        ]
                    } {% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
            }
        });

    }


    drawChart();


    // This snippet fixes the missing auto refresh when changing tab
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        drawChart();
    });

</script>
