{% extends 'page_base.twig' %}




{% block page_title %}
    {{ module_label }}
{% endblock %}




{% block dependencies %}

    {% for css_entry in page_dependencies.css if css_entry is not null %}
        <link href="{{ css_entry }}" rel="stylesheet" type="text/css">
    {% endfor %}


    {% for js_entry in page_dependencies.js %}
        <script src="{{ js_entry }}"></script>
    {% endfor %}

{% endblock %}



{% block page_header_menu %}

    <a class="btn btn-primary"
       role="button"
       href="{{ urlFor('timeslot_new') }}">
        <i class="fa fa-plus-circle fa-fw"></i> Create
    </a>

{% endblock %}




{% block page_content %}

    <div class="row">

        <div class="col-md-12">
            <form class="form-inline"
                  name="gawain-timeslot-filter"
                  action="{{ urlFor('timeslots') }}"
                  method="get">
                <div class="form_group">
                    <label for="filter">View filter</label>
                    <select id="filter" name="filter" class="form-control">
                        <option value="this_day" {% if filter == 'this_day' %}selected{% endif %}>This day</option>
                        <option value="this_week" {% if filter == 'this_week' %}selected{% endif %}>This week</option>
                        <option value="this_month" {% if filter == 'this_month' or filter is null %}selected{% endif %}>
                            This month
                        </option>
                        <option value="this_year" {% if filter == 'this_year' %}selected{% endif %}>This year</option>
                        <option value="all" {% if filter == 'all' %}selected{% endif %}>All entries</option>
                        <option value="custom_period" {% if filter == 'custom_period' %}selected{% endif %}>Custom
                            period
                        </option>
                    </select>
                </div>

                <div class="form-group" id="gawain-timeslots-filter-from"
                     {% if filter != 'custom_period' %}style="display: none"{% endif %}>
                    <label for="from">From</label>
                    <input type="date"
                           id="from"
                           name="from"
                           class="form-control"
                           placeholder="From..."
                           {% if filter != 'custom_period' %}disabled{% endif %}
                            {% if not from is null %}value="{{ from }}"{% endif %}>
                </div>

                <div class="form-group" id="gawain-timeslots-filter-to"
                     {% if filter != 'custom_period' %}style="display: none"{% endif %}>
                    <label for="to">To</label>
                    <input type="date"
                           id="to"
                           name="to"
                           class="form-control"
                           placeholder="To..."
                           {% if filter != 'custom_period' %}disabled{% endif %}
                            {% if not to is null %}value="{{ to }}"{% endif %}>
                </div>

                <button type="submit" class="btn btn-success">Apply filter</button>
            </form>
        </div>

        <script>
            $('#filter').change(function () {
                var str_Value = $('#filter').val();
                if (str_Value == 'custom_period') {
                    $('#gawain-timeslots-filter-from input').prop('disabled', false);
                    $('#gawain-timeslots-filter-to input').prop('disabled', false);
                    $('#gawain-timeslots-filter-from').show();
                    $('#gawain-timeslots-filter-to').show();
                } else {
                    $('#gawain-timeslots-filter-from input').prop('disabled', true);
                    $('#gawain-timeslots-filter-to input').prop('disabled', true);
                    $('#gawain-timeslots-filter-from').hide();
                    $('#gawain-timeslots-filter-to').hide();
                }
            });
        </script>

    </div>

    <div class="row">

        <div class="col-md-12">

            <ul class="nav nav-pills gawain-nav-level-1">
                <li role="presentation" class="active"><a href="#gawain-timeslots-table-view" role="tab"
                                                          data-toggle="tab">Table View</a></li>
                <li role="presentation"><a href="#gawain-timeslots-graph-view" role="tab" data-toggle="tab">Graph
                        View</a></li>
            </ul>

            <hr>

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="gawain-timeslots-table-view">
                    <div class="row">
                        <div class="col-md-12 table-responsive">

                            {% include 'user_timeslots_table.twig' %}

                        </div>
                    </div>
                </div>


                <div role="tabpanel" class="tab-pane" id="gawain-timeslots-graph-view">

                    {% include 'user_timeslots_graph.twig' %}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
